# Dependencies
frontend/node_modules/
node_modules/

# Build output
frontend/dist/
backend/server
backend/seed

# Environment
backend/.env
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go build cache
backend/tmp/

# Logs
*.log
npm-debug.log*

# Docker volumes
pgdata/


# Seed data
Factions.csv
Stratagems.csv

# Claude
.claude/settings.local.json
.claude/worktrees/